In [173]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
import warnings
warnings.simplefilter('ignore')
import time
import psycopg2

In [174]:
# Load CSV file to dataframe

airline_df = pd.read_csv("Resources/airline_passenger_satisfaction.csv")
airline_df

,id,Gender,Customer_Type,Age,Type_of_Travel,Class,Flight_Distance,Inflight_wifi_service,Departure/Arrival_time_convenient,Ease_of_Online_booking,...,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103589,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103590,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103591,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103592,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103593,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [175]:
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103594 entries, 0 to 103593
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 103594 non-null  int64
 1   Gender                             103594 non-null  object
 2   Customer_Type                      103594 non-null  object
 3   Age                                103594 non-null  int64
 4   Type_of_Travel                     103594 non-null  object
 5   Class                              103594 non-null  object
 6   Flight_Distance                    103594 non-null  int64
 7   Inflight_wifi_service              103594 non-null  int64
 8   Departure/Arrival_time_convenient  103594 non-null  int64
 9   Ease_of_Online_booking             103594 non-null  int64
 10  Gate_location                      103594 non-null  int64
 11  Food_and_drink                     103594 non-null  int64
 12  Online_boarding                    103594 non-null  int64
 13  Seat_comfort                       103594 non-null  int64
 14  Inflight_entertainment             103594 non-null  int64
 15  On-board_service                   103594 non-null  int64
 16  Leg_room_service                   103594 non-null  int64
 17  Baggage_handling                   103594 non-null  int64
 18  Checkin_service                    103594 non-null  int64
 19  Inflight_service                   103594 non-null  int64
 20  Cleanliness                        103594 non-null  int64
 21  Departure_Delay_in_Minutes         103594 non-null  int64
 22  Arrival_Delay_in_Minutes           103594 non-null  float64
 23  satisfaction                       103594 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 19.0+ MB

In [176]:
# Airline_df divided into 6 dataframes as per physical schema
Passenger = airline_df[['id', 'Gender', 'Customer_Type', 'Age', 'Type_of_Travel','satisfaction']]

Passenger.rename(columns={'id':'passenger_id','Gender':'gender','Customer_Type':'customer_type',
                          'Age':'age','Type_of_Travel':'travel_type'}, inplace = True)

Flights = airline_df[['Class', 'Seat_comfort', 'Flight_Distance', 'Cleanliness']]

Flights.rename(columns = {'Seat_comfort':'seat_comfort', 'Flight_Distance':'flight_distance',
                         'Class':'class', 'Cleanliness':'cleanliness'}, inplace = True)

AirlineServices = airline_df[['Checkin_service', 'Gate_location', 'Baggage_handling']]

AirlineServices.rename(columns={'Checkin_service':'checkin_service', 'Gate_location':'gate_location', 
                               'Baggage_handling':'baggage_handling'}, inplace = True)

DepartureArrival = airline_df[['Departure/Arrival_time_convenient', 'Departure_Delay_in_Minutes',
                              'Arrival_Delay_in_Minutes']]

DepartureArrival.rename(columns={'Departure/Arrival_time_convenient':'time_convenience',
                                'Departure_Delay_in_Minutes':'departure_delay','Arrival_Delay_in_Minutes':
                                 'arrival_delay'}, inplace = True)

OnlineServices = airline_df[['Ease_of_Online_booking', 'Online_boarding']]

OnlineServices.rename(columns={'Ease_of_Online_booking':'ease_of_online_booking', 'Online_boarding':
                             'online_boarding'}, inplace = True)

InflightServices = airline_df[['Inflight_wifi_service', 'Inflight_entertainment', 'Inflight_service',
                              'Food_and_drink','On-board_service','Leg_room_service' ]]

InflightServices.rename(columns = {'Inflight_wifi_service':'wifi','Inflight_entertainment':'entertinment',
                                  'Inflight_service':'inflight_service', 'Food_and_drink':'food_drink',
                                  'On-board_service':'onboard_service', 'Leg_room_service':'legroom_service'},
                       inplace = True)

In [177]:
Passenger

,passenger_id,gender,customer_type,age,travel_type,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,satisfied
3,24026,Female,Loyal Customer,25,Business travel,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,satisfied
...,...,...,...,...,...,...
103589,94171,Female,disloyal Customer,23,Business travel,neutral or dissatisfied
103590,73097,Male,Loyal Customer,49,Business travel,satisfied
103591,68825,Male,disloyal Customer,30,Business travel,neutral or dissatisfied
103592,54173,Female,disloyal Customer,22,Business travel,neutral or dissatisfied
103593,62567,Male,Loyal Customer,27,Business travel,neutral or dissatisfied

In [186]:
import numpy as np
rng = np.arange(1,103595)
Passenger['flight_id'] = rng
Passenger['booking_id'] = rng
Passenger['inflight_service_id'] = rng
Passenger['airline_service_id'] = rng

Flights['flight_id']= rng
Flights['depart_arrive_id'] = rng

AirlineServices['airline_service_id'] = rng
DepartureArrival['depart_arrive_id'] = rng
OnlineServices['online_service_id'] = rng
InflightServices['inflight_service_id'] = rng

In [185]:
# Re-ordering columns
df1 = Flights.iloc[:, [4,0,1,2,3,5]]
df3 = AirlineServices.iloc[:, [3,0,1,2]]
df4 = DepartureArrival.iloc[:, [3,0,1,2]]
df5 = OnlineServices.iloc[:, [2,0,1]]
df6 = InflightServices.iloc[:, [6,0,1,2,3,4,5]]

In [187]:
try:
    # Connect to postgresql database
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/Airline_DB')
    conn = engine.connect()
    
    # Loading 6 airline dataframes into postgresql database 6 tables
    
    Passenger.to_sql('passenger', conn, if_exists='replace', index=False)
    
    df1.to_sql('flights', conn, if_exists='replace', index=False)
    
    df3.to_sql('airline_services', conn, if_exists='replace', index=False)
    
    df4.to_sql('departure_arrival', conn, if_exists='replace', index=False)
    
    df5.to_sql('online_services', conn, if_exists='replace', index=False)
    
    df6.to_sql('inflight_services', conn, if_exists='replace', index=False)
    
except (Exception, conn.Error) as error:
    print("Error while ingecting data into sql database", error)
    
finally:
    if conn:
        conn.close()
        print('Database connection closed.')

Database connection closed.

In [188]:
# Query from postgresql server 
try:
    conn = psycopg2.connect('postgresql://postgres:postgres@localhost:5432/Airline_DB')
    cursor=conn.cursor()
    
    df = "SELECT * FROM passenger LIMIT 10;"
    cursor.execute(df)
    
    df1 = cursor.fetchall()
    print(df1)
    
except (Exception,psycopg2.Error) as error:
    print("Error while fetching data from postgresql", error)
finally:
    if conn:
        cursor.close()
        conn.close()
        print("Postgresql connection closed.")

[(70172, 'Male', 'Loyal Customer', 13, 'Personal Travel', 'neutral or dissatisfied', 1, 1, 1, 1), (5047, 'Male', 'disloyal Customer', 25, 'Business travel', 'neutral or dissatisfied', 2, 2, 2, 2), (110028, 'Female', 'Loyal Customer', 26, 'Business travel', 'satisfied', 3, 3, 3, 3), (24026, 'Female', 'Loyal Customer', 25, 'Business travel', 'neutral or dissatisfied', 4, 4, 4, 4), (119299, 'Male', 'Loyal Customer', 61, 'Business travel', 'satisfied', 5, 5, 5, 5), (111157, 'Female', 'Loyal Customer', 26, 'Personal Travel', 'neutral or dissatisfied', 6, 6, 6, 6), (82113, 'Male', 'Loyal Customer', 47, 'Personal Travel', 'neutral or dissatisfied', 7, 7, 7, 7), (96462, 'Female', 'Loyal Customer', 52, 'Business travel', 'satisfied', 8, 8, 8, 8), (79485, 'Female', 'Loyal Customer', 41, 'Business travel', 'neutral or dissatisfied', 9, 9, 9, 9), (65725, 'Male', 'disloyal Customer', 20, 'Business travel', 'neutral or dissatisfied', 10, 10, 10, 10)]
Postgresql connection closed.

In [190]:
# Query from the database in a different way.
try:
    # Connection to the database
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/Airline_DB')
    con = engine.connect()

    # Extracting data from postgresql to dataframes
    df1 = pd.read_sql_query("""SELECT * FROM passenger LIMIT 10;""", con)    
    print(df1)
except (Exception,psycopg2.Error) as error:
    print("Error while fetching data from postgresql", error)
finally:
    if conn:
        cursor.close()
        conn.close()
        print("Postgresql connection closed.")

   passenger_id  gender      customer_type  age      travel_type  \
0         70172    Male     Loyal Customer   13  Personal Travel
1          5047    Male  disloyal Customer   25  Business travel
2        110028  Female     Loyal Customer   26  Business travel
3         24026  Female     Loyal Customer   25  Business travel
4        119299    Male     Loyal Customer   61  Business travel
5        111157  Female     Loyal Customer   26  Personal Travel
6         82113    Male     Loyal Customer   47  Personal Travel
7         96462  Female     Loyal Customer   52  Business travel
8         79485  Female     Loyal Customer   41  Business travel
9         65725    Male  disloyal Customer   20  Business travel

              satisfaction  flight_id  booking_id  inflight_service_id  \
0  neutral or dissatisfied          1           1                    1
1  neutral or dissatisfied          2           2                    2
2                satisfied          3           3                    3
3  neutral or dissatisfied          4           4                    4
4                satisfied          5           5                    5
5  neutral or dissatisfied          6           6                    6
6  neutral or dissatisfied          7           7                    7
7                satisfied          8           8                    8
8  neutral or dissatisfied          9           9                    9
9  neutral or dissatisfied         10          10                   10

   airline_service_id
0                   1
1                   2
2                   3
3                   4
4                   5
5                   6
6                   7
7                   8
8                   9
9                  10
Postgresql connection closed.