In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
import warnings
warnings.simplefilter('ignore')
import time
import psycopg2

In [2]:
# Load CSV file to dataframe

airline_df = pd.read_csv("Resources/airline_passenger_satisfaction.csv")
airline_df.head()

,id,Gender,Customer_Type,Age,Type_of_Travel,Class,Flight_Distance,Inflight_wifi_service,Departure/Arrival_time_convenient,Ease_of_Online_booking,...,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [3]:
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103594 entries, 0 to 103593
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 103594 non-null  int64
 1   Gender                             103594 non-null  object
 2   Customer_Type                      103594 non-null  object
 3   Age                                103594 non-null  int64
 4   Type_of_Travel                     103594 non-null  object
 5   Class                              103594 non-null  object
 6   Flight_Distance                    103594 non-null  int64
 7   Inflight_wifi_service              103594 non-null  int64
 8   Departure/Arrival_time_convenient  103594 non-null  int64
 9   Ease_of_Online_booking             103594 non-null  int64
 10  Gate_location                      103594 non-null  int64
 11  Food_and_drink                     103594 non-null  int64
 12  Online_boarding                    103594 non-null  int64
 13  Seat_comfort                       103594 non-null  int64
 14  Inflight_entertainment             103594 non-null  int64
 15  On-board_service                   103594 non-null  int64
 16  Leg_room_service                   103594 non-null  int64
 17  Baggage_handling                   103594 non-null  int64
 18  Checkin_service                    103594 non-null  int64
 19  Inflight_service                   103594 non-null  int64
 20  Cleanliness                        103594 non-null  int64
 21  Departure_Delay_in_Minutes         103594 non-null  int64
 22  Arrival_Delay_in_Minutes           103594 non-null  float64
 23  satisfaction                       103594 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 19.0+ MB

In [4]:
# Changing column names to lower character
airline_df.columns=airline_df.columns.str.lower()

In [5]:
# Airline_df divided into 6 dataframes as per physical schema
Passenger = airline_df[['id', 'gender', 'customer_type', 'age', 'type_of_travel','satisfaction']]

Flights = airline_df[['class', 'seat_comfort', 'flight_distance', 'cleanliness']]

AirlineServices = airline_df[['checkin_service', 'gate_location', 'baggage_handling']]

DepartureArrival = airline_df[['departure/arrival_time_convenient', 'departure_delay_in_minutes',
                              'arrival_delay_in_minutes']]

DepartureArrival.rename(columns={'departure/arrival_time_convenient':'time_convenience',
                                }, inplace = True)

OnlineServices = airline_df[['ease_of_online_booking', 'online_boarding']]

InflightServices = airline_df[['inflight_wifi_service', 'inflight_entertainment', 'inflight_service',
                              'food_and_drink','on-board_service','leg_room_service' ]]

In [6]:
import numpy as np
rng = np.arange(1,103595)
Passenger['flight_id'] = rng              # FK, PK of table Flights
Passenger['booking_id'] = rng             # FK, PK of table Booking
Passenger['inflight_service_id'] = rng    # FK, PK of table InflightServices
Passenger['airline_service_id'] = rng     # FK, PK of table AirlineServices

Flights['flight_id']= rng                       # PK of Flights table
Flights['depart_arrive_id'] = rng               # FK, PK of table DepartureArrival

AirlineServices['airline_service_id'] = rng     # PK of AirlineServices table
DepartureArrival['depart_arrive_id'] = rng      # PK of DepartureArrival table
OnlineServices['booking_id'] = rng              # FK, PK of Booking table
InflightServices['inflight_service_id'] = rng   # PK of InflightServices table

In [8]:
# Re-ordering columns for column value arrangements in the sql table
df1 = Flights.iloc[:, [4,0,1,2,3,5]]
df3 = AirlineServices.iloc[:, [3,0,1,2]]
df4 = DepartureArrival.iloc[:, [3,0,1,2]]
df5 = OnlineServices.iloc[:, [2,0,1]]
df6 = InflightServices.iloc[:, [6,0,1,2,3,4,5]]

In [10]:
try:
    # Connect to postgresql database
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/Airline_DB')
    conn = engine.connect()
    
    # Loading 6 airline dataframes into postgresql database 6 tables
    
    Passenger.to_sql('passenger', conn, if_exists='replace', index=False)
    
    df1.to_sql('flights', conn, if_exists='replace', index=False)
    
    df3.to_sql('airline_services', conn, if_exists='replace', index=False)
    
    df4.to_sql('departure_arrival', conn, if_exists='replace', index=False)
    
    df5.to_sql('online_services', conn, if_exists='replace', index=False)
    
    df6.to_sql('inflight_services', conn, if_exists='replace', index=False)
    
except (Exception, conn.Error) as error:
    print("Error while ingecting data into sql database", error)
    
finally:
    if conn:
        conn.close()
        print('Database connection closed.')

Database connection closed.

In [14]:
# Query from postgresql server 
try:
    conn = psycopg2.connect('postgresql://postgres:postgres@localhost:5432/Airline_DB')
    cursor=conn.cursor()
    
    df = "SELECT * FROM passenger LIMIT 2;"
    cursor.execute(df)
    
    df1 = cursor.fetchall()
    print(df1)
    
except (Exception,psycopg2.Error) as error:
    print("Error while fetching data from postgresql", error)
finally:
    if conn:
        cursor.close()
        conn.close()
        print("Postgresql connection closed.")

[(70172, 'Male', 'Loyal Customer', 13, 'Personal Travel', 'neutral or dissatisfied', 1, 1, 1, 1), (5047, 'Male', 'disloyal Customer', 25, 'Business travel', 'neutral or dissatisfied', 2, 2, 2, 2)]
Postgresql connection closed.

In [ ]:
# Query from the database in a different way.
try:
    # Connection to the database
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/Airline_DB')
    con = engine.connect()

    # Extracting data from postgresql to dataframes
    df1 = pd.read_sql_query("""SELECT id,cleanliness,flight_distance 
                                FROM passenger p
                                JOIN flights f
                                ON p.flight_id = f.flight_id  
                                WHERE cleanliness = 5
                                LIMIT 10;""", con)    
    print(df1)
except (Exception,con.Error) as error:
    print("Error while fetching data from postgresql", error)
finally:
    if con:        
        conn.close()
        print("Postgresql connection closed.")

In [ ]:
# # To stop break the executing query use the following command
# try:
#     engine = create_engine('postgresql://postgres:postgres@localhost:5432/Airline_DB')
#     con = engine.connect()
#     pd.read_sql_query("""SELECT pg_cancel_backend(pid) 
#                         FROM pg_stat_activity 
#                         WHERE state = 'active' and pid <> pg_backend_pid();""")
# except (Exception,con.Error) as error:
#     print("Error while fetching data from postgresql", error)
# finally:
#     if con:        
#         conn.close()
#         print("Postgresql connection closed.")