In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Read and load csv file into a dataframe
train_df = pd.read_csv("Resources/train.csv")
test_df = pd.read_csv("Resources/test.csv")
train_df.head(2)

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied

In [4]:
train_df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
103899    False
103900    False
103901    False
103902    False
103903    False
Length: 103904, dtype: bool

In [5]:
train_df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [6]:
print(train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB
None

In [7]:
# Find whether any null value exists in train_df and test_df
train_df.isna().sum()
test_df.isna().sum()

# Drop columns 'Unnamed: 0', and 'id'
train_df.drop(['Unnamed: 0'], axis = 1, inplace = True)
test_df.drop(columns = ['Unnamed: 0', 'id'], inplace = True)

# Drop na containing rows from train and test dataframes
train_df.dropna(inplace = True)
test_df.dropna(inplace = True)

In [8]:
# Remove white spaces in column names
train_df.columns = train_df.columns.str.replace(" ", "_")
test_df.columns = test_df.columns.str.replace(" ", "_")
train_df.to_csv('Resources/airline_passenger_satisfaction.csv', index=False)

In [9]:
# Drop Id column
train_df.drop(columns = 'id', inplace = True)
train_df.describe()

,Age,Flight_Distance,Inflight_wifi_service,Departure/Arrival_time_convenient,Ease_of_Online_booking,Gate_location,Food_and_drink,Online_boarding,Seat_comfort,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes
count,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000
mean,39.380466,1189.325202,2.729753,3.060081,2.756984,2.977026,3.202126,3.250497,3.439765,3.358341,3.382609,3.351401,3.631687,3.304323,3.640761,3.286397,14.747939,15.178678
std,15.113125,997.297235,1.327866,1.525233,1.398934,1.277723,1.329401,1.349433,1.318896,1.333030,1.288284,1.315409,1.181051,1.265396,1.175603,1.312194,38.116737,38.698682
min,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,40.000000,842.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,51.000000,1743.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [10]:
# Using label encoder for the preprocessing of data
from sklearn.preprocessing import LabelEncoder
X_train = train_df.apply(LabelEncoder().fit_transform)
X_test = test_df.apply(LabelEncoder().fit_transform)
X_train.drop(columns='satisfaction', inplace = True)
X_test.drop(columns='satisfaction', inplace = True)

print(X_train.shape)
print(X_test.shape)

(103594, 22)
(25893, 22)

In [11]:
# Create y_train, y_test categorical data to numeric values
y_train = train_df['satisfaction'].map({'neutral or dissatisfied': 0, 'satisfied': 1})
y_test = test_df['satisfaction'].map({'neutral or dissatisfied': 0, 'satisfied': 1})

# Linear Regression Model

In [12]:
# Create the model by using LinearRegression.
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Fit the model to the training data, and calculate the scores for the training and testing data.

model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.5508092598724748
Testing Score: 0.5363880324034771

# Logistic Regression Model

In [13]:
# Import dependency
from sklearn.linear_model import LogisticRegression

# Fit the model 
lr = LogisticRegression(C=10, random_state = 322).fit(X_train, y_train)

In [14]:
# Print Training and Test score
print(f"Training Data Score: {lr.score(X_train, y_train)}")
print(f"Testing Data Score: {lr.score(X_test, y_test)}")

Training Data Score: 0.8355310153097669
Testing Data Score: 0.832464372610358

# Random Forest Classification Model

In [15]:
# Import random forest model
from sklearn.ensemble import RandomForestClassifier

# Create a Gaussian Classifier
rfc = RandomForestClassifier(max_depth = 3, random_state = 322)

# Train the model
rfc.fit(X_train, y_train)

# Print the score
print(f"Training score : {rfc.score(X_train, y_train)}")
print(f"Testing score : {rfc.score(X_test, y_test)}")

Training score : 0.9012780662972759
Testing score : 0.8931371413123238

# Applying standard scaler

In [16]:
# Scaling the data set
from sklearn.preprocessing import StandardScaler
# from sklearn.pipeline import make_pipeline

# fit the scale
ss = StandardScaler()

# Scaled model of Logistic Regression

In [17]:
# Train the Logistic Regression model on the scaled data and print the model score
X_train_scaled = ss.fit_transform(X_train)
X_test_scaled = ss.fit_transform(X_test)
lr.fit(X_train_scaled, y_train)
print(f"Training Data Score: {lr.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {lr.score(X_test_scaled, y_test)}")
lr.predict(X_test_scaled)

Training Data Score: 0.8755140259088364
Testing Data Score: 0.871084849187039

array([1, 1, 0, ..., 0, 1, 0], dtype=int64)

## AdaBoost Classification

In [18]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

abc = AdaBoostClassifier(random_state = 1, n_estimators=130,
                        learning_rate=0.1,
                        base_estimator = DecisionTreeClassifier(
                        criterion = 'gini', max_depth = 3, 
                        max_features = 'auto', min_samples_leaf=6))
abc.fit(X_train, y_train)
print(f'Training score: {abc.score(X_train, y_train)}')
print(f'Testing score: {abc.score(X_test, y_test)}')

Training score: 0.9451126513118521
Testing score: 0.9371644846097401

## XGBoost Classification

In [19]:
from xgboost import XGBClassifier
xgb = XGBClassifier(booster = 'gbtree', learning_rate=0.2,
                   n_estimators=100, gamma=0.1, seed = 1000,
                   num_parallel_tree=3).fit(X_train, y_train)
print(f'Training score: {xgb.score(X_train, y_train)}')
print(f'Testing score: {xgb.score(X_test,y_test)}')

[22:04:21] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Training score: 0.9699403440353689
Testing score: 0.9537326690611362

* Satisfaction prediction rate has improved significantly with XGBoost Classification and AdaBoost Classification

# CatBoostClassifier

In [24]:
from catboost import CatBoostClassifier
cbc = CatBoostClassifier(iterations = 100, learning_rate=0.1)
cbc.fit(X_train, y_train)

# Model accuracy
print(f'Training score: {cbc.score(X_train, y_train)}')
print(f'Testing score: {cbc.score(X_test,y_test)}')

0:	learn: 0.5640491	total: 24.4ms	remaining: 2.41s
1:	learn: 0.4374758	total: 45.7ms	remaining: 2.24s
2:	learn: 0.3800755	total: 66.5ms	remaining: 2.15s
3:	learn: 0.3319872	total: 85.8ms	remaining: 2.06s
4:	learn: 0.3008236	total: 106ms	remaining: 2.01s
5:	learn: 0.2728161	total: 125ms	remaining: 1.96s
6:	learn: 0.2349504	total: 145ms	remaining: 1.93s
7:	learn: 0.2208937	total: 167ms	remaining: 1.93s
8:	learn: 0.2103966	total: 188ms	remaining: 1.9s
9:	learn: 0.2026796	total: 209ms	remaining: 1.88s
10:	learn: 0.1954402	total: 235ms	remaining: 1.9s
11:	learn: 0.1895919	total: 257ms	remaining: 1.89s
12:	learn: 0.1836159	total: 278ms	remaining: 1.86s
13:	learn: 0.1752666	total: 297ms	remaining: 1.82s
14:	learn: 0.1708722	total: 315ms	remaining: 1.78s
15:	learn: 0.1653566	total: 335ms	remaining: 1.76s
16:	learn: 0.1625551	total: 354ms	remaining: 1.73s
17:	learn: 0.1602443	total: 373ms	remaining: 1.7s
18:	learn: 0.1550773	total: 393ms	remaining: 1.68s
19:	learn: 0.1530543	total: 415ms	remaining: 1.66s
20:	learn: 0.1500864	total: 437ms	remaining: 1.64s
21:	learn: 0.1476974	total: 456ms	remaining: 1.62s
22:	learn: 0.1453216	total: 475ms	remaining: 1.59s
23:	learn: 0.1435716	total: 495ms	remaining: 1.57s
24:	learn: 0.1423478	total: 514ms	remaining: 1.54s
25:	learn: 0.1409259	total: 533ms	remaining: 1.51s
26:	learn: 0.1386373	total: 551ms	remaining: 1.49s
27:	learn: 0.1373461	total: 571ms	remaining: 1.47s
28:	learn: 0.1344261	total: 594ms	remaining: 1.45s
29:	learn: 0.1332610	total: 616ms	remaining: 1.44s
30:	learn: 0.1314751	total: 637ms	remaining: 1.42s
31:	learn: 0.1301822	total: 655ms	remaining: 1.39s
32:	learn: 0.1291570	total: 674ms	remaining: 1.37s
33:	learn: 0.1284183	total: 695ms	remaining: 1.35s
34:	learn: 0.1256782	total: 715ms	remaining: 1.33s
35:	learn: 0.1236295	total: 735ms	remaining: 1.31s
36:	learn: 0.1229306	total: 754ms	remaining: 1.28s
37:	learn: 0.1222198	total: 774ms	remaining: 1.26s
38:	learn: 0.1208624	total: 797ms	remaining: 1.25s
39:	learn: 0.1202581	total: 819ms	remaining: 1.23s
40:	learn: 0.1196893	total: 839ms	remaining: 1.21s
41:	learn: 0.1188146	total: 858ms	remaining: 1.18s
42:	learn: 0.1179933	total: 880ms	remaining: 1.17s
43:	learn: 0.1169917	total: 898ms	remaining: 1.14s
44:	learn: 0.1165283	total: 917ms	remaining: 1.12s
45:	learn: 0.1161991	total: 937ms	remaining: 1.1s
46:	learn: 0.1153228	total: 956ms	remaining: 1.08s
47:	learn: 0.1151054	total: 975ms	remaining: 1.06s
48:	learn: 0.1137947	total: 998ms	remaining: 1.04s
49:	learn: 0.1133142	total: 1.02s	remaining: 1.02s
50:	learn: 0.1128731	total: 1.04s	remaining: 1s
51:	learn: 0.1123717	total: 1.06s	remaining: 983ms
52:	learn: 0.1110021	total: 1.09s	remaining: 963ms
53:	learn: 0.1103696	total: 1.11s	remaining: 942ms
54:	learn: 0.1090413	total: 1.13s	remaining: 922ms
55:	learn: 0.1084867	total: 1.15s	remaining: 900ms
56:	learn: 0.1081294	total: 1.17s	remaining: 879ms
57:	learn: 0.1077883	total: 1.19s	remaining: 860ms
58:	learn: 0.1067433	total: 1.21s	remaining: 841ms
59:	learn: 0.1062975	total: 1.23s	remaining: 821ms
60:	learn: 0.1060790	total: 1.25s	remaining: 800ms
61:	learn: 0.1055134	total: 1.27s	remaining: 779ms
62:	learn: 0.1050789	total: 1.29s	remaining: 758ms
63:	learn: 0.1046632	total: 1.31s	remaining: 736ms
64:	learn: 0.1044295	total: 1.33s	remaining: 715ms
65:	learn: 0.1039260	total: 1.35s	remaining: 693ms
66:	learn: 0.1035268	total: 1.37s	remaining: 675ms
67:	learn: 0.1031879	total: 1.39s	remaining: 655ms
68:	learn: 0.1028353	total: 1.41s	remaining: 635ms
69:	learn: 0.1025668	total: 1.43s	remaining: 615ms
70:	learn: 0.1023013	total: 1.45s	remaining: 594ms
71:	learn: 0.1020400	total: 1.47s	remaining: 573ms
72:	learn: 0.1014431	total: 1.49s	remaining: 552ms
73:	learn: 0.1013414	total: 1.51s	remaining: 532ms
74:	learn: 0.1010872	total: 1.53s	remaining: 512ms
75:	learn: 0.1009082	total: 1.56s	remaining: 491ms
76:	learn: 0.1007204	total: 1.58s	remaining: 473ms
77:	learn: 0.1005724	total: 1.6s	remaining: 453ms
78:	learn: 0.1001894	total: 1.63s	remaining: 432ms
79:	learn: 0.1000713	total: 1.65s	remaining: 412ms
80:	learn: 0.0999027	total: 1.67s	remaining: 391ms
81:	learn: 0.0996640	total: 1.69s	remaining: 370ms
82:	learn: 0.0993133	total: 1.71s	remaining: 350ms
83:	learn: 0.0992964	total: 1.72s	remaining: 328ms
84:	learn: 0.0991198	total: 1.75s	remaining: 309ms
85:	learn: 0.0989695	total: 1.77s	remaining: 288ms
86:	learn: 0.0988094	total: 1.79s	remaining: 268ms
87:	learn: 0.0986608	total: 1.81s	remaining: 247ms
88:	learn: 0.0982401	total: 1.83s	remaining: 226ms
89:	learn: 0.0980316	total: 1.85s	remaining: 206ms
90:	learn: 0.0978560	total: 1.87s	remaining: 185ms
91:	learn: 0.0975478	total: 1.89s	remaining: 165ms
92:	learn: 0.0973242	total: 1.91s	remaining: 144ms
93:	learn: 0.0972227	total: 1.93s	remaining: 123ms
94:	learn: 0.0967101	total: 1.96s	remaining: 103ms
95:	learn: 0.0965712	total: 1.98s	remaining: 82.5ms
96:	learn: 0.0963770	total: 2s	remaining: 61.9ms
97:	learn: 0.0961295	total: 2.02s	remaining: 41.3ms
98:	learn: 0.0959780	total: 2.04s	remaining: 20.6ms
99:	learn: 0.0957939	total: 2.06s	remaining: 0us
Training score: 0.9621599706546711
Testing score: 0.9460858146989534