In [94]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
import warnings
warnings.simplefilter('ignore')
import time
import psycopg2

In [95]:
airline_df = pd.read_csv("Resources/airline_passenger_satisfaction.csv")
airline_df.head()

,id,Gender,Customer_Type,Age,Type_of_Travel,Class,Flight_Distance,Inflight_wifi_service,Departure/Arrival_time_convenient,Ease_of_Online_booking,...,Inflight_entertainment,On-board_service,Leg_room_service,Baggage_handling,Checkin_service,Inflight_service,Cleanliness,Departure_Delay_in_Minutes,Arrival_Delay_in_Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [96]:
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103594 entries, 0 to 103593
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 103594 non-null  int64
 1   Gender                             103594 non-null  object
 2   Customer_Type                      103594 non-null  object
 3   Age                                103594 non-null  int64
 4   Type_of_Travel                     103594 non-null  object
 5   Class                              103594 non-null  object
 6   Flight_Distance                    103594 non-null  int64
 7   Inflight_wifi_service              103594 non-null  int64
 8   Departure/Arrival_time_convenient  103594 non-null  int64
 9   Ease_of_Online_booking             103594 non-null  int64
 10  Gate_location                      103594 non-null  int64
 11  Food_and_drink                     103594 non-null  int64
 12  Online_boarding                    103594 non-null  int64
 13  Seat_comfort                       103594 non-null  int64
 14  Inflight_entertainment             103594 non-null  int64
 15  On-board_service                   103594 non-null  int64
 16  Leg_room_service                   103594 non-null  int64
 17  Baggage_handling                   103594 non-null  int64
 18  Checkin_service                    103594 non-null  int64
 19  Inflight_service                   103594 non-null  int64
 20  Cleanliness                        103594 non-null  int64
 21  Departure_Delay_in_Minutes         103594 non-null  int64
 22  Arrival_Delay_in_Minutes           103594 non-null  float64
 23  satisfaction                       103594 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 19.0+ MB

In [97]:
# Airline_df divided into 6 dataframes as per physical schema
Passenger = airline_df[['id', 'Gender', 'Customer_Type', 'Age', 'Type_of_Travel','satisfaction']]

Passenger.rename(columns={'id':'passenger_id','Customer_Type':'customer_type', 
                          'Type_of_Travel':'travel_type'}, inplace = True)

Flights = airline_df[['Class', 'Seat_comfort', 'Flight_Distance', 'Cleanliness']]

Flights.rename(columns = {'Seat_comfort':'seat_comfort', 'Flight_Distance':'flight_distance'}, inplace = True)

AirlineServices = airline_df[['Checkin_service', 'Gate_location', 'Baggage_handling']]

AirlineServices.rename(columns={'Checkin_service':'checkin_service', 'Gate_location':'gate_location', 
                               'Baggage_handling':'baggage_handling'}, inplace = True)

DepartureArrival = airline_df[['Departure/Arrival_time_convenient', 'Departure_Delay_in_Minutes',
                              'Arrival_Delay_in_Minutes']]

DepartureArrival.rename(columns={'Departure/Arrival_time_convenient':'time_convenience',
                                'Departure_Delay_in_Minutes':'departure_delay','Arrival_Delay_in_Minutes':
                                 'arrival_delay'}, inplace = True)

OnlineServices = airline_df[['Ease_of_Online_booking', 'Online_boarding']]

OnlineServices.rename(columns={'Ease_of_Online_booking':'ease_of_online_booking', 'Online_boarding':
                             'online_boarding'}, inplace = True)

InflightServices = airline_df[['Inflight_wifi_service', 'Inflight_entertainment', 'Inflight_service',
                              'Food_and_drink','On-board_service','Leg_room_service' ]]

InflightServices.rename(columns = {'Inflight_wifi_service':'wifi','Inflight_entertainment':'entertinment',
                                  'Inflight_service':'inflight_service', 'Food_and_drink':'food_drink',
                                  'On-board_service':'onboard_service', 'Leg_room_service':'legroom_service'},
                       inplace = True)

In [98]:
try:
    # Connect to postgresql database
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/Airline_DB')
    conn = engine.connect()
    
    # Loading 6 airline dataframes into postgresql database 6 tables
    
    Passenger.to_sql('passenger', conn, if_exists='replace', index=False)
    
    Flights.to_sql('flights', conn, if_exists='replace', index=False)
    
    AirlineServices.to_sql('airline_services', conn, if_exists='replace', index=False)
    
    DepartureArrival.to_sql('departure_arrival', conn, if_exists='replace', index=False)
    
    OnlineServices.to_sql('online_services', conn, if_exists='replace', index=False)
    
    InflightServices.to_sql('inflight_services', conn, if_exists='replace', index=False)
    
except (Exception, conn.Error) as error:
    print("Error while ingecting data into sql database", error)
    
finally:
    if conn:
        conn.close()
        print('Database connection closed.')

Database connection closed.

In [99]:
# Query from postgresql server 
try:
    conn = psycopg2.connect('postgresql://postgres:postgres@localhost:5432/Airline_DB')
    cursor=conn.cursor()
    
    df = "SELECT * FROM passenger LIMIT 10;"
    cursor.execute(df)
    
    df1 = cursor.fetchall()
    print(df1)
    
except (Exception,psycopg2.Error) as error:
    print("Error while fetching data from postgresql", error)
finally:
    if conn:
        cursor.close()
        conn.close()
        print("Postgresql connection closed.")

[(70172, 'Male', 'Loyal Customer', 13, 'Personal Travel', 'neutral or dissatisfied'), (5047, 'Male', 'disloyal Customer', 25, 'Business travel', 'neutral or dissatisfied'), (110028, 'Female', 'Loyal Customer', 26, 'Business travel', 'satisfied'), (24026, 'Female', 'Loyal Customer', 25, 'Business travel', 'neutral or dissatisfied'), (119299, 'Male', 'Loyal Customer', 61, 'Business travel', 'satisfied'), (111157, 'Female', 'Loyal Customer', 26, 'Personal Travel', 'neutral or dissatisfied'), (82113, 'Male', 'Loyal Customer', 47, 'Personal Travel', 'neutral or dissatisfied'), (96462, 'Female', 'Loyal Customer', 52, 'Business travel', 'satisfied'), (79485, 'Female', 'Loyal Customer', 41, 'Business travel', 'neutral or dissatisfied'), (65725, 'Male', 'disloyal Customer', 20, 'Business travel', 'neutral or dissatisfied')]
Postgresql connection closed.

In [100]:
# Query from the database in a different way.
try:
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/Airline_DB')
    con = engine.connect()

    df = pd.read_sql_query("""SELECT * FROM flights LIMIT 10;""", con)
    print(df)
    
except (Exception, con.Error) as error:
    print('Error while fetching data from database.')
    
finally:
    if con:
        con.close()
        print("Database connection closed.")

      Class  seat_comfort  flight_distance  Cleanliness
0  Eco Plus             5              460            5
1  Business             1              235            1
2  Business             5             1142            5
3  Business             2              562            2
4  Business             5              214            3
5       Eco             1             1180            1
6       Eco             2             1276            2
7  Business             5             2035            4
8  Business             3              853            2
9       Eco             3             1061            2